@import "../../mq_module";

html {
	height: 100%;
	font-size: 62.5%;
}

body {
	box-sizing: border-box;
	position: relative;
	-webkit-text-size-adjust: 100%;
	margin: 0;
	padding: 0;
	min-height: 100%;
	font-size: 1.4rem;
	line-height: 1.6;
	font-family: -apple-system, BlinkMacSystemFont, YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;
}


.container {
	display: grid;
	grid-template-columns: 4fr 1fr;
	grid-template-rows: auto auto auto;
	grid-template-areas:
			"header header"
			"main aside"
			"footer footer";
	@include mq-960 {
		display: block;
	}

	font-size: 2.0rem;


}

header {
	grid-area: header;
	background-color: aliceblue;
}

aside {
	grid-area: aside;
	background-color: antiquewhite;
}

main {
	grid-area: main;
	background-color: cadetblue;
}

footer {
	grid-area: footer;
	background-color: darkgray;
}
